---
- name: Create NetBox application directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ netbox_releases_path }}"
    - "{{ netbox_shared_path }}"

- include: "install_via_{{ 'git' if netbox_git else 'stable' }}.yml"

- include: generate_secret_key.yml
  when:
    - netbox_config.SECRET_KEY is not defined

- name: Create NetBox virtualenv and install needed Python dependencies
  pip:
    requirements: "{{ netbox_current_path }}/requirements.txt"
    virtualenv: "{{ netbox_virtualenv_path }}"
    virtualenv_python: "{{ netbox_python3_binary if (netbox_python == 3) else netbox_python2_binary }}"

- name: Generate NetBox configuration file
  template:
    src: templates/configuration.py.j2
    dest: "{{ netbox_shared_path }}/configuration.py"
    mode: 0640
  notify:
    - reload netbox

- block:
  - name: Install django-auth-ldap if LDAP is enabled
    pip:
      name: django-auth-ldap
      virtualenv: "{{ netbox_virtualenv_path }}"

  - name: Generate LDAP configuration for NetBox if enabled
    template:
      src: "{{ netbox_ldap_config_template }}"
      dest: "{{ netbox_shared_path }}/ldap_config.py"
      mode: 0600
    notify:
      - reload netbox
  when:
    - netbox_ldap_enabled

- name: Symlink NetBox configuration file into the active NetBox release
  file:
    src: "{{ netbox_shared_path }}/configuration.py"
    dest: "{{ netbox_config_path }}/configuration.py"
    state: link

- name: Symlink/Remove NetBox LDAP configuration file into/from the active NetBox release
  file:
    src: "{{ netbox_shared_path }}/ldap_config.py"
    dest: "{{ netbox_config_path }}/ldap_config.py"
    force: yes
    state: "{{ 'absent' if netbox_ldap_enabled else 'link' }}"

- name: Run database migrations for NetBox
  django_manage:
    command: migrate
    app_path: "{{ netbox_current_path }}/netbox"
    virtualenv: "{{ netbox_virtualenv_path }}"

- name: Create a super user for NetBox
  shell: "printf '{{ netbox_superuser_script }}' | {{ netbox_virtualenv_path }}/bin/python {{ netbox_current_path }}/netbox/manage.py shell"
  register: __netbox_superuser_result
  changed_when: "'changed' in __netbox_superuser_result.stdout"

- name: Generate static assets for NetBox
  django_manage:
    command: collectstatic
    app_path: "{{ netbox_current_path }}/netbox"
    virtualenv: "{{ netbox_virtualenv_path }}"

- name: Populate NetBox with initial data
  django_manage:
    command: loaddata
    fixtures: initial_data
    app_path: "{{ netbox_current_path }}/netbox"
    virtualenv: "{{ netbox_virtualenv_path }}"
  when:
    - netbox_load_initial_data
