---
- name: Create NetBox application directories
  when: deploy_stage == "packer"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
  loop:
    - "{{ netbox_releases_path }}"
    - "{{ netbox_shared_path }}"

- name: Create NetBox application directories
  when: deploy_stage == "terraform"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
  loop:
    - "{{ _netbox_config.MEDIA_ROOT }}"
    - "{{ _netbox_config.MEDIA_ROOT }}"
    - "{{ _netbox_config.REPORTS_ROOT }}"
    - "{{ _netbox_config.SCRIPTS_ROOT }}"



- include_tasks: "install_via_{{ 'git' if netbox_git else 'stable' }}.yml"
  when: deploy_stage == "packer"

- import_tasks: generate_secret_key.yml
  when:
    - _netbox_config.SECRET_KEY is not defined
    - deploy_stage == "terraform"

- name: Drop pip constraints file
  template:
    src: pip_constraints.j2
    dest: "{{ netbox_current_path }}/constraints.txt"
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
  when: deploy_stage == "packer"

- name: replace download link when netbox has broken dependencies in requirements.txt
  ansible.builtin.replace:
    path: /apps/cityfibre-netbox/current/requirements.txt
    regexp: '(^git\+git)'
    replace: git+https
  when: deploy_stage == "packer"

- name: Create NetBox virtualenv and install needed Python dependencies
  pip:
    requirements: "{{ netbox_current_path }}/requirements.txt"
    extra_args: "-c {{ netbox_current_path }}/constraints.txt"
    virtualenv: "{{ netbox_virtualenv_path }}"
    virtualenv_command: "{{ netbox_python_binary }} -m venv"
  become: true
  become_user: "{{ netbox_user }}"
  retries: 2
  register: _netbox_virtualenv_setup
  until: _netbox_virtualenv_setup is succeeded
  when: deploy_stage == "packer"

- name: Install selected optional Python dependencies
  pip:
    name: "{{ item }}"
    state: present
    virtualenv: "{{ netbox_virtualenv_path }}"
  become: true
  become_user: "{{ netbox_user }}"
  retries: 2
  register: _netbox_pip_additional_install
  until: _netbox_pip_additional_install is succeeded
  when:
    - deploy_stage == "packer"
    - (_netbox_python_deps | length) > 0

  loop: "{{ _netbox_python_deps }}"
  notify:
    - restart netbox.service

- name: Generate NetBox configuration file
  template:
    src: templates/configuration.py.j2
    dest: "{{ netbox_shared_path }}/configuration.py"
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    mode: 0640
    validate: "{{ netbox_virtualenv_path }}/bin/python -c \"import py_compile,os; f=r'%s';\
               c='/tmp/' + os.path.basename(os.path.dirname(f)) + '-' + os.path.basename(f) + 'c';\
               py_compile.compile(f, c); os.remove(c)\""
  notify:
    - reload netbox.service
  when: deploy_stage == "terraform"

- name: Generate LDAP configuration for NetBox if enabled
  template:
    src: "{{ netbox_ldap_config_template }}"
    dest: "{{ netbox_shared_path }}/ldap_config.py"
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    mode: 0640
    validate: "{{ netbox_virtualenv_path }}/bin/python -c \"import py_compile,os; f=r'%s';\
                c='/tmp/' + os.path.basename(os.path.dirname(f)) + '-' + os.path.basename(f) + 'c';\
                py_compile.compile(f, c); os.remove(c)\""
  notify:
    - reload netbox.service
  when:
    - netbox_ldap_enabled
    - deploy_stage == "packer"

- name: Symlink NetBox configuration file into the active NetBox release
  file:
    src: "{{ netbox_shared_path }}/configuration.py"
    dest: "{{ netbox_config_path }}/configuration.py"
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    state: link
  when: deploy_stage == "terraform"

- name: Symlink/Remove NetBox LDAP configuration file into/from the active NetBox release
  file:
    src: "{{ netbox_shared_path + '/ldap_config.py' if netbox_ldap_enabled else omit }}"
    dest: "{{ netbox_config_path }}/ldap_config.py"
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    state: "{{ 'link' if netbox_ldap_enabled else 'absent' }}"
  notify:
    - reload netbox.service
  when: deploy_stage == "packer"

#- name: Copy NetBox scripts into SCRIPTS_ROOT
#  copy:
#    src: "{{ item.src }}"
#    dest: "{{ _netbox_config.SCRIPTS_ROOT }}/{{ item.name }}.py"
#    owner: "{{ netbox_user }}"
#    group: "{{ netbox_group }}"
#  loop: "{{ netbox_scripts }}"
#  when: deploy_stage == "packer"

#- name: Copy NetBox reports into REPORTS_ROOT
#  copy:
#    src: "{{ item.src }}"
#    dest: "{{ _netbox_config.REPORTS_ROOT }}/{{ item.name }}.py"
#    owner: "{{ netbox_user }}"
#    group: "{{ netbox_group }}"
#  loop: "{{ netbox_reports }}"
#  when: deploy_stage == "packer"

- block:
    - name: Run database migrations for NetBox
      django_manage:
        command: migrate
        app_path: "{{ netbox_current_path }}/netbox"
        virtualenv: "{{ netbox_virtualenv_path }}"
      retries: 2
      register: _netbox_db_migration
      until: _netbox_db_migration is success
      when: deploy_stage == "terraform"

    - name: Trace missing cable paths for NetBox
      django_manage:
        command: "trace_paths --no-input"
        app_path: "{{ netbox_current_path }}/netbox"
        virtualenv: "{{ netbox_virtualenv_path }}"
      when:
        - netbox_stable and netbox_stable_version is version('2.10.0', '>=')
          or netbox_git and _netbox_git_contains_trace_paths.rc == 0
        - deploy_stage == "terraform"

    - name: Create a super user for NetBox
      shell: "printf '{{ netbox_superuser_script }}' |\
              {{ netbox_virtualenv_path }}/bin/python {{ netbox_current_path }}/netbox/manage.py shell"
      register: _netbox_superuser_result
      changed_when: "'changed' in _netbox_superuser_result.stdout"
      when:
        - netbox_superuser_enabled
        - deploy_stage == "terraform"

    - name: Create a super user token for NetBox
      shell: "printf '{{ netbox_superuser_token }}' |\
              {{ netbox_virtualenv_path }}/bin/python {{ netbox_current_path }}/netbox/manage.py shell"
      register: _netbox_superuser_token
      changed_when: "'changed' in _netbox_superuser_token.stdout"
      when:
        - netbox_superuser_create_token
        - netbox_superuser_enabled
        - deploy_stage == "terraform"

    - name: Generate static assets for NetBox
      django_manage:
        command: collectstatic
        app_path: "{{ netbox_current_path }}/netbox"
        virtualenv: "{{ netbox_virtualenv_path }}"
      when: deploy_stage == "terraform"

    - name: Clear expired user sessions in NetBox
      django_manage:
        command: clearsessions
        app_path: "{{ netbox_current_path }}/netbox"
        virtualenv: "{{ netbox_virtualenv_path }}"
      when: deploy_stage == "terraform"

    - name: Clear stale content types in NetBox
      django_manage:
        command: "remove_stale_contenttypes --no-input"
        app_path: "{{ netbox_current_path }}/netbox"
        virtualenv: "{{ netbox_virtualenv_path }}"
      when: deploy_stage == "terraform"

  become: true
  become_user: "{{ netbox_user }}"
