{{ ansible_managed | comment }}
DATABASE = {
    'NAME': '{{ netbox_database }}',
    'USER': '{{ netbox_database_user }}',
{% if netbox_database_host is defined %}
    'PASSWORD': '{{ netbox_database_password }}',
    'HOST':  '{{ netbox_database_host }}',
    'PORT': '{{ netbox_database_port }}',
{% else %}
    'HOST': '{{ netbox_database_socket }}',
{% endif %}
}

{% if netbox_webhooks_enabled %}
WEBHOOKS_ENABLED = True
REDIS = { 
    'HOST': '{{ netbox_redis_host }}',
    'PORT': '{{ netbox_redis_port }}',
    'PASSWORD': '{{ netbox_redis_password }}',
    'DATABASE': '{{ netbox_redis_database }}',
    'DEFAULT_TIMEOUT': '{{ netbox_redis_default_timeout }}',
}
{% endif %}

{% for setting, value in netbox_config.items() %}
{% if value in [True, False] %}
{{ setting }} = {{ 'True' if value else 'False' }}
{% else %}
{{ setting }} = {{ value | to_nice_json }}
{% endif %}
{% endfor %}

# vim: ft=python
