{{ ansible_managed | comment }}
[Unit]
Description=NetBox Request Queue Worker %i
Documentation=https://docs.netbox.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

WorkingDirectory={{ netbox_shared_path }}
ExecStart={{ netbox_virtualenv_path }}/bin/python {{ netbox_current_path }}/netbox/manage.py rqworker high default low

StandardOutput=journal
StandardError=journal
User={{ netbox_user }}
Group={{ netbox_group }}
Restart=on-failure
RestartSec=30

NotifyAccess=all
PrivateTmp=true
ProtectSystem=full
DeviceAllow=/dev/null rw
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/zero r
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
