[Unit]
Description=Netbox gunicorn service
Documentation=https://github.com/lae/ansible-role-netbox
After=network.target

[Service]
ExecStart={{ netbox_venv_path }}/bin/gunicorn -c {{ netbox_current_path }}/netbox/gunicorn_config.py netbox.wsgi
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target

