{{ ansible_managed | comment }}
[uwsgi]
master=true
protocol={{ netbox_protocol }}
uid={{ netbox_user }}
gid={{ netbox_group }}
processes={{ netbox_processes }}
module=netbox.wsgi
virtualenv={{ netbox_virtualenv_path }}
chdir={{ netbox_current_path }}/netbox
{% if _netbox_config.BASE_PATH is defined %}
{% set _base_path = _netbox_config.BASE_PATH.strip('/') ~ '/' %}
{% else %}
{% set _base_path = '' %}
{% endif %}
static-map=/{{ _base_path }}static={{ netbox_current_path }}/netbox/static
logger={{ netbox_application_log }}
req-logger={{ netbox_requests_log }}
{% if netbox_metrics_enabled %}
env=prometheus_multiproc_dir={{ netbox_metrics_path }}
{% endif %}
{% for key, value in netbox_uwsgi_options.items() %}
{% if 'prometheus_multiproc_dir' not in value|string %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}

# vim: ft=dosini
