# {{ ansible_managed }}
[uwsgi]
master=true
protocol={{ netbox_protocol }}
uid={{ netbox_user }}
gid={{ netbox_group }}
processes={{ netbox_processes }}
module=netbox.wsgi
virtualenv={{ netbox_virtualenv_path }}
chdir={{ netbox_current_path }}/netbox
static-map=/static={{ netbox_current_path }}/netbox/static
logger={{ netbox_application_log }}
req-logger={{ netbox_requests_log }}

# vim: ft=dosini
